
<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Back_Office</title>

        <!-- Core CSS - Include with every page -->
        <link href="{{ asset('bundles/backofficebackoffice/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/backofficebackoffice/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="cdn.datatables.net/1.10.0/css/jquery.dataTables.css" >

        <!-- Page-Level Plugin CSS - Dashboard -->
        <link href="{{ asset('bundles/backofficebackoffice/css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/backofficebackoffice/css/plugins/timeline/timeline.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/backofficebackoffice/css/sb-admin.css') }}" rel="stylesheet">

        <!-- SB Admin CSS - Include with every page -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" language="javascript" src = "{{ asset('bundles/backofficebackoffice/js/plugins/dataTables/jquery.js') }} " ></script>

        <script type="text/javascript" charset="utf8" language="javascript" src="{{ asset('bundles/backofficebackoffice/js/bootstrap.min.js') }} "></script>

        <script type="text/javascript" charset="utf8" language="javascript" src="{{ asset('bundles/backofficebackoffice/js/bootstrap.js') }} "></script>

        <script type="text/javascript" charset="utf8" language="javascript" src="{{ asset('bundles/backofficebackoffice/js/plugins/dataTables/jquery.dataTables.js') }} "></script>
        <script type="text/javascript" charset="utf8" language="javascript" src = "{{ asset('bundles/backofficebackoffice/js/plugins/dataTables/jquery.dataTables.min.js') }} " ></script>








    </head>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('back_office_home')}}">Back office Covoiturage</a>
                </div>
                <!-- /.navbar-header -->

               
                <!-- /.navbar-top-links -->

                <div class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="{{ path('back_office_home')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>

                            <li>
                                <a href="{{ path('back_office_userpage')}}"><i class="fa fa-table fa-fw"></i> Liste de Covoitureurs</a>
                                
                                    <li>
                                        <a href="{{path('back_office_userAddpage')}}"><i class="fa fa-user fa-fw"></i>Ajouter un covoitureur </a>
                                    </li>
                                    
                                
                            </li>
                            <li>
                                <a href="{{ path('back_office_covpage')}}"><i class="fa fa-table fa-fw"></i> liste de Covoiturages</a>
                            </li>


                        </ul>
                        <!-- /#side-menu -->
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color: #017ebc"> Bienvenue  </h1>
                </div>
                <div class="row">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->

        <script type="text/javascript" >


            $(document).ready(function() {

                $tables = $('#example').DataTable();


                $('#champs').on('keyup', function() {
                    $tables.search(this.value).draw();

                });
            });
        </script>


    </body>

</html>
