{% extends "FrontMNRSBundle::layout.html.twig" %}
{% block content %}

<div class="shadow main container round" id="contenu">
    <div class="content-wrapper">
        <div class="thirty laurel">
            <div class="shadow gd-8 no-padd shut-nav">
                <ul class="vanilla bd bd-eee">
                    <li class="js-springy cl-eee opened">
                        <h3 class="title regular-font uc bd-eee">
                            <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes messages" href="#">Mes messages</a>      </h3>
                        <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                            <ul class="vanilla">
                                <li class="item active first">
                                    <a class="cl-333" title="Boîte de réception" href="{{ path('messages_show_inbox') }}">Boîte de réception ({{ messages|length }})</a>    </li>
                                <li class="item">
                                    <a class="cl-333" title="Messages envoyés" href="{{ path('messages_show_outbox') }}">Messages envoyés</a>    </li>
                                <li class="item">
                                    <a class="cl-333" title="Envoyer un message" href="{{ path('messages_create') }}">Envoyer un message</a>    </li>
                            </ul>
                        </div>
                    </li>
                    <li class="js-springy cl-eee">
                        <h3 class="title regular-font uc bd-eee">
                            <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes notifications" href="" >Mes notifications</a>
                        </h3>
                        <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                            <ul class="vanilla">
                                <li class="item active first">
                                    <a class="cl-333" title="Non lues" href="{{ path('notifications_nonlues') }}">Non lues ({{ notifications|length }})</a>    
                                </li>
                                <li class="item active first">
                                    <a class="cl-333" title="Toutes" href="{{ path('notifications_all') }}">Toutes</a>    
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="js-springy cl-eee">
                        <h3 class="title regular-font uc bd-eee">
                            <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes statistiques" href="#">Mes statistiques</a>      </h3>
                        <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                            <ul class="vanilla">
                                <li class="item active first">
                                    <a class="cl-333" title="Dépenses par mois" href="{{ path('statistiques_cout') }}">Dépenses par mois</a>    </li>
                                <li class="item">
                                    <a class="cl-333" title="Ma note" href="{{ path('statistiques_eval') }}">Ma note</a>    </li>
                                <li class="item">
                                    <a class="cl-333" title="Fréquences des villes visitées" href="{{ path('statistiques_show') }}">Fréquences des villes visitées</a>    </li>
                            </ul>
                        </div>
                    </li>
                    <h3 class="title regular-font uc bd-eee">
                        <a class="block in cl-333 bd-8 js-springy-trigger cl-eee" title="Mes covoiturages" href="{{ path('Mes_covoiturages') }}">Mes covoiturages</a>      </h3>
                </ul>
            </div>
        </div>
        <div class="seventy hardy">
            <div class="shut-in">
                <h1 class="dist regular-font uc">Covoiturages edit</h1>

                <form action="" method="post" {{form_enctype(form)}}>

                         {{form_widget(form)}}

                       {# villeDepart : <input name ="ville1" type="text">
                        villeArrivee : <input name ="search2" type="text"> #}

                    <input type="submit"/>

                </form>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('Mes_covoiturages') }}">
                            Back to the list
                        </a>
                    </li>

                </ul>
            </div>



            <div class="clear"></div>
        </div>
    </div>
    <div class="right-wrapper">
        <div class="ad-skyscraper">
            <img src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
        </div>
    </div>
    <div class="clear"></div>

    <div id="main-nav-outer">
        <div id="navigation">
            <ul id="main-nav" class="vanilla">
                <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
            </ul>
        </div>
    </div>      
    <a href="#contenu" title="Revenir au contenu">
        <ins class="icon blue-car js-car" id="car-1" style="top: 21px;"></ins>
        <ins class="icon green-car js-car" id="car-2" style="top: 25px;"></ins>
        <ins class="icon pink-car js-car" id="car-3" style="top: 23px;"></ins>
    </a>
</div>
    {% endblock %}
