{% extends "FrontMNRSBundle::layout.html.twig" %}

{% block content %}
<style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            padding: 16px;
           {# border: 16px solid orange;#}
            background-color: white;
            z-index:1002;
            overflow: auto;
            border:none 5px #000000;
            -moz-border-radius-topleft: 24px;
            -moz-border-radius-topright:5px;
            -moz-border-radius-bottomleft:22px;
            -moz-border-radius-bottomright:5px;
            -webkit-border-top-left-radius:24px;
            -webkit-border-top-right-radius:5px;
            -webkit-border-bottom-left-radius:22px;
            -webkit-border-bottom-right-radius:5px;
            border-top-left-radius:24px;
            border-top-right-radius:5px;
            border-bottom-left-radius:22px;
            border-bottom-right-radius:5px;
            -moz-box-shadow: 9px 12px 15px #000000;
            -webkit-box-shadow: 9px 12px 15px #000000;
            box-shadow: 9px 12px 15px #000000;      

        }


    </style>
    <div class="shadow main container round" id="contenu">
        <div class="content-wrapper">
            <div class="thirty laurel">
                <div class="shadow gd-8 no-padd shut-nav">
                    <ul class="vanilla bd bd-eee">
                        <li class="js-springy cl-eee opened">
                            <h3 class="title regular-font uc bd-eee">
                                <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes messages" href="#">Mes messages</a>      </h3>
                            <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                                <ul class="vanilla">
                                    <li class="item active first">
                                        <a class="cl-333" title="Boîte de réception" href="{{ path('messages_show_inbox') }}">Boîte de réception ({{ messages|length }})</a>    </li>
                                    <li class="item">
                                        <a class="cl-333" title="Messages envoyés" href="{{ path('messages_show_outbox') }}">Messages envoyés</a>    </li>
                                    <li class="item">
                                        <a class="cl-333" title="Envoyer un message" href="{{ path('messages_create') }}">Envoyer un message</a>    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="js-springy cl-eee">
                            <h3 class="title regular-font uc bd-eee">
                                <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes notifications" href="" >Mes notifications</a>
                            </h3>
                            <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                                <ul class="vanilla">
                                    <li class="item active first">
                                        <a class="cl-333" title="Non lues" href="{{ path('notifications_nonlues') }}">Non lues ({{ notifications|length }})</a>    
                                    </li>
                                    <li class="item active first">
                                        <a class="cl-333" title="Toutes" href="{{ path('notifications_all') }}">Toutes</a>    
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="js-springy cl-eee">
                            <h3 class="title regular-font uc bd-eee">
                                <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes statistiques" href="#">Mes statistiques</a>      </h3>
                            <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                                <ul class="vanilla">
                                    <li class="item active first">
                                        <a class="cl-333 b" title="Dépenses par mois" href="{{ path('statistiques_cout') }}">Dépenses par mois</a>    </li>
                                    <li class="item">
                                        <a class="cl-333" title="Ma note" href="{{ path('statistiques_eval') }}">Ma note</a>    </li>
                                    <li class="item">
                                        <a class="cl-333" title="Fréquences des villes visitées" href="{{ path('statistiques_show') }}">Fréquences des villes visitées</a>    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="js-springy cl-eee opened">
                            <h3 class="title regular-font uc bd-eee">
                                <a class="block in cl-333 bd-8 js-springy-trigger cl-eee" title="Mes covoiturages" href="#">Mes covoiturages</a>      </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="seventy hardy">
                <div class="shut-in">
                    <h1 class="dist regular-font uc">Mes Covoiturages</h1>

                    <table class="zebra js-clickdelegate" border="1">
                        <colgroup>
                            <col>
                            <col>
                            <col width="100">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="gd-2">Titre</th>
                                <th class="gd-2">Description</th>
                                <th class="gd-2">Date</th>
                                <th class="gd-2">Heure</th>
                                <th class="gd-2">Prix</th>
                                <th class="gd-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
         {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.titre }}</td>
                                    <td>{{ entity.description }}</td>
                                    <td>{% if entity.dateDepart %}{{ entity.dateDepart|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ entity.heureDepart|date('H:i') }}</td>
                                    <td>{{ entity.prix }}</td>
                                    <td class="txt-ctr">
                                        <p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display = 'block';
                                                document.getElementById('fade').style.display = 'block'" title="Voir plus" rel="bookmark">
                                                      <ins class="icon plus-small"></ins>
                                                      <span class="hidden">Voir plus</span>
                                                  </a></p>
                                              <div id="light" class="white_content">

                                                  <h1 class="dist regular-font uc">Details Covoiturage</h1>

                                                  <table class="zebra js-clickdelegate" border="1">
                                                      <colgroup>
                                                          <col>
                                                          <col>
                                                          <col width="100">
                                                      </colgroup>
                                                      <tbody>
                                                          <tr>
                                                              <th class="gd-2" >Titre</th>
                                                              <td>{{ entity.titre }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Description</th>
                                                              <td>{{ entity.description }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de creation</th>
                                                              <td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de mise a jour</th>
                                                              <td>{{ entity.dateMiseajour|date('Y-m-d H:i:s') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de depart</th>
                                                              <td>{{ entity.dateDepart|date('Y-m-d H:i:s') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Heure de depart</th>
                                                              <td>{{ entity.heureDepart|date('Y-m-d H:i:s')}}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Gouvernorat / Localite / Delegation Depart</th>
                                                              <td>{{ entity.idVilleDepart.gouvernorat }}-{{ entity.idVilleDepart.localite }}-{{ entity.idVilleDepart.delegation }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Gouvernorat / Localite / Delegation</th>
                                                              <td>{{ entity.idVilleArrivee.gouvernorat }}-{{ entity.idVilleArrivee.localite }}-{{ entity.idVilleArrivee.delegation }}</td>
                                                          </tr>

                                                          <tr>
                                                              <th  class="gd-2">Nombre de places</th>
                                                              <td>{{ entity.nombrePlaces }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Prix</th>
                                                              <td>{{ entity.prix }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2">Fumeur</th>
                                                              {% if entity.fumeur == 0 %}
                                                              <td>Non</td>
                                                              {% else %}
                                                              <td>Oui</td>
                                                              {% endif %}
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Reserveefemmes</th>
                                                              {% if entity.reserveeFemmes == 0 %}
                                                              <td>Non</td>
                                                              {% else %}
                                                              <td>Oui</td>
                                                              {% endif %}
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2">nom Createur</th>
                                                              <td>{{ entity.idCreateur.nom}}</td>
                                                          </tr>

                                                          <tr>
                                                              <th class="gd-2">prenom Createur</th>
                                                              <td>{{ entity.idCreateur.prenom}}</td>
                                                          </tr>


                                                          <tr>
                                                              <th class="gd-2">Note  Createur</th>
                                                              <td>{{ entity.idCreateur.note}}</td>
                                                          </tr>


                                                          <tr>
                                                              <th class="gd-2">email  Createur</th>
                                                              <td>{{ entity.idCreateur.email}}</td>
                                                          </tr>
                                                      </tbody>
                                                  </table>

                                                  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display = 'none';
                                                document.getElementById('fade').style.display = 'none'">Close</a></div>
                                                  <div id="fade" class="black_overlay"></div>

                                                  <ul>
                                                      <li> 

                                                          <a href="{{ path('covoiturages_edit', { 'id': entity.id }) }}">Modifier</a>
                                                      </li>
                                                      <li> 
                                                          <a href="{{ path('covoiturages_deletee', { 'id': entity.id }) }}">Annuler</a>
                                                      </li>
                                                  </ul>
                                              </td>  



                                            </tr>

        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li>
                                            <a href="{{ path('covoiturages_new')}}">nouveau covoiturage</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="ad-skyscraper">
                                <img  src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div id="main-nav-outer">
                            <div id="navigation">
                                <ul id="main-nav" class="vanilla">
                                    <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                                    <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                                    <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                                    <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                                    <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
                                </ul>
                            </div>
                        </div>     
                        <a href="#contenu" title="Revenir au contenu">
                            <ins class="icon blue-car js-car" id="car-1" style="top: 21px;"></ins>
                            <ins class="icon green-car js-car" id="car-2" style="top: 25px;"></ins>
                            <ins class="icon pink-car js-car" id="car-3" style="top: 23px;"></ins>
                        </a>
                    </div>
    {% endblock %}
