{% extends "FrontMNRSBundle::layout.html.twig" %}


    {% block headbox %}


<style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            padding: 16px;
           {# border: 16px solid orange;#}
            background-color: white;
            z-index:1002;
            overflow: auto;

            border:none 5px #000000;
            -moz-border-radius-topleft: 24px;
            -moz-border-radius-topright:5px;
            -moz-border-radius-bottomleft:22px;
            -moz-border-radius-bottomright:5px;
            -webkit-border-top-left-radius:24px;
            -webkit-border-top-right-radius:5px;
            -webkit-border-bottom-left-radius:22px;
            -webkit-border-bottom-right-radius:5px;
            border-top-left-radius:24px;
            border-top-right-radius:5px;
            border-bottom-left-radius:22px;
            border-bottom-right-radius:5px;






            -moz-box-shadow: 9px 12px 15px #000000;
            -webkit-box-shadow: 9px 12px 15px #000000;
            box-shadow: 9px 12px 15px #000000;      

        }


    </style>


    <div id="head-box" class="shadow container round">
        <div class="top-fifty laurel round bd bg-lt-2 bd-1 gd-2">
            <div class="intro box">
                <h1 class="cl-fff"><strong>TacTacCovoiturage</strong> <em class="cl-fff hidden">covoiturage</em></h1><p class="cl-fff">portail de covoiturage en Tunisie</p><p>permet &agrave; des centaines de personnes de<br />se d&eacute;placer autrement en alliant :<br /><strong class="cl-fff">&eacute;conomie, &eacute;cologie, convivialit&eacute;.</strong></p>    </div>
            <ins class="eyecatcher medium" title="100% gratuit"></ins>
        </div>
        <div class="top-fifty hardy round bd-aaa gd-ccc bd form">
            <h2 class="h1 vanilla top-round heading cl-lt-6 uc">Recherche de trajet <ins class="icon biglook-medium right"></ins></h2>
            <form action="" method="GET" class="vanilla padd">
                <fieldset class="bd-9 groove">
                    <legend><ins class="icon departure"></ins> Entrez votre départ ici</legend>
                    <div class="form-col half laurel">
                        <input name ="search1" type="text" list="g">
                    </div>
                    <div class="form-col half hardy">
                        <label class="hidden" for="departure_country">Gouvernorat</label>      



                        <datalist id="g"> 
                            <option value=" — Sélectionnez le gouvernorat —" selected="selected"></option>
                   {% for entity in delegations %}
                            <option  value="{{entity.gouvernorat }}">{{ entity.gouvernorat }}</option>
                   {% endfor %}
                        </datalist>
                    </div>
                    <div class="clear"></div>
                </fieldset>
                <fieldset class="bd-9 groove">
                    <legend><ins class="icon destination"></ins> Entrez votre arrivée ici</legend>

                    <div class="form-col half laurel">
                        <input name ="search1" type="text" list="g">
                    </div>
                    <div class="form-col half hardy">
                        <label class="hidden" for="destination_country">Gouvernorat</label>      

                        <datalist id="g"> 
                            <option value=" — Sélectionnez le gouvernorat —" selected="selected">— Sélectionnez le gouvernorat — </option>
                   {% for entity in delegations %}

                            <option  value="{{entity.gouvernorat }}">{{ entity.gouvernorat }}</option>
                   {% endfor %}

                        </datalist>

                    </div>
                    <div class="clear"></div>
                </fieldset>    
                <div class="txt-rgt">
                    <input type="submit" class="gd-6 round padd-half b uc" value="Lancer la recherche  " ><small class="arrow-right">&#9654;</small>

                </div>

            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block content %}

    <div class="shadow main container round" id="contenu">
        <div class="content-wrapper">
            <div class="sixty laurel">
                <div class="dist">
                    <h2 class="uc h1 cl-4">Les dernières offres de covoiturage</h2>

                    <div class="clear"></div>
                    <div id="trajets-réguliers" class="js-tab-panel" style="display: block;">
                        <table class="zebra js-clickdelegate" border="1">
                            <colgroup>
                                <col>
                                <col>
                                <col width="100">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="gd-2">Titre</th>
                                    <th class="gd-2">Description</th>
                                    <th class="gd-2">Date</th>
                                    <th class="gd-2">Heure</th>
                                    <th class="gd-2">Prix</th>
                                    <th class="gd-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                     {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.titre }}</td>
                                    <td>{{ entity.description }}</td>
                                    <td>{% if entity.dateDepart %}{{ entity.dateDepart|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ entity.heureDepart|date('H:i') }}</td>
                                    <td>{{ entity.prix }}</td>
                                    <td class="txt-ctr">
                                        <p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display = 'block';
                                                document.getElementById('fade').style.display = 'block'" title="Voir plus" rel="bookmark">
                                                      <ins class="icon plus-small"></ins>
                                                      <span class="hidden">Voir plus</span>
                                                  </a></p>
                                              <div id="light" class="white_content">

                                                  <h1 class="dist regular-font uc">Details Covoiturage</h1>

                                                  <table class="zebra js-clickdelegate" border="1">
                                                      <colgroup>
                                                          <col>
                                                          <col>
                                                          <col width="100">
                                                      </colgroup>
                                                      <tbody>
                                                          <tr>
                                                              <th class="gd-2" >Titre</th>
                                                              <td>{{ entity.titre }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Description</th>
                                                              <td>{{ entity.description }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de creation</th>
                                                              <td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de mise a jour</th>
                                                              <td>{{ entity.dateMiseajour|date('Y-m-d H:i:s') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Date de depart</th>
                                                              <td>{{ entity.dateDepart|date('Y-m-d') }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Heure de depart</th>
                                                              <td>{{ entity.heureDepart|date('H:i')}}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Gouvernorat / Localite / Delegation Depart</th>
                                                              <td>{{ entity.idVilleDepart.gouvernorat }}-{{ entity.idVilleDepart.localite }}-{{ entity.idVilleDepart.delegation }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2" >Gouvernorat / Localite / Delegation</th>
                                                              <td>{{ entity.idVilleArrivee.gouvernorat }}-{{ entity.idVilleArrivee.localite }}-{{ entity.idVilleArrivee.delegation }}</td>
                                                          </tr>

                                                          <tr>
                                                              <th  class="gd-2">Nombre de places</th>
                                                              <td>{{ entity.nombrePlaces }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th  class="gd-2">Prix</th>
                                                              <td>{{ entity.prix }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th class="gd-2">Fumeur</th>
                                                              {% if entity.fumeur == 0 %}
                                                                  <td>Non</td>
                                                              {% else %}
                                                                  <td>Oui</td>
                                                              {% endif %}
                                                              </tr>
                                                              <tr>
                                                                  <th  class="gd-2">Reservee aux femmes</th>
                                                              {% if entity.reserveeFemmes == 0 %}
                                                                      <td>Non</td>
                                                              {% else %}
                                                                      <td>Oui</td>
                                                              {% endif %}
                                                                  </tr>
                                                                  <tr>
                                                                      <th class="gd-2">Nom Createur</th>
                                                                      <td>{{ entity.idCreateur.nom}}</td>
                                                                  </tr>

                                                                  <tr>
                                                                      <th class="gd-2">Prenom Createur</th>
                                                                      <td>{{ entity.idCreateur.prenom}}</td>
                                                                  </tr>


                                                                  <tr>
                                                                      <th class="gd-2">Note Createur</th>
                                                                      <td>{{ entity.idCreateur.note}}</td>
                                                                  </tr>


                                                                  <tr>
                                                                      <th class="gd-2">email  Createur</th>
                                                                      <td>{{ entity.idCreateur.email}}</td>
                                                                  </tr>
                                                              </tbody>
                                                          </table>

                                                          <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display = 'none';
                                                document.getElementById('fade').style.display = 'none'">Close</a></div>
                                                          <div id="fade" class="black_overlay"></div>




                                                  </tr>
                                       {% endfor %}

                                              </tbody>
                                            </table>
                                        </div>


                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <div class="forty hardy">
                                    <div class="dist">
                                        <a href="#" class="no-hover"> 
                                            <div class="shut-in gd-2 rel round no-hover">
                                                <h2 class="cl-fff uc">Inscription gratuite</h2>
                                                <p style="padding-left: 55px;" class="cl-333">
                                                    Inscrivez-vous pour pouvoir entrer en contact avec la communauté de covoitureurs et déposer votre trajet !      </p>
                                                <ins class="deco flower"></ins>
                                                <ins class="eyecatcher small" title="100% gratuit"></ins>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dist">
                                        <div class="reason-list"><h2 class="uc cl-2 h1 reason-heading heading">Pourquoi covoiturer ?</h2><ol class="cl-2">  <li>  <h3>Économies</h3>  <p>Je partage les frais d’essence, de parking, de péages…</p>  <ins class="icon reason-economic"></ins>  </li>  <li>  <h3>Écologie</h3>  <p>Je réduis la pollution et lutte contre le réchauffement climatique en participant à la diminution des voitures en circulation.</p>  <ins class="icon reason-ecologic"></ins>  </li>  <li>  <h3>Rapidité</h3>  <p>Moins de véhicules sur les routes : finis les embouteillages !</p>  <ins class="icon reason-speed"></ins>  </li>  <li>  <h3>Convivialité</h3>  <p>Je rencontre de nouvelles personnes et la route est moins monotone.</p>  <ins class="icon reason-conviviality"></ins>  </li>  <li>  <h3>Souplesse</h3>  <p>Je covoiture quand je veux, je n’ai pas d’engagement à long terme…</p>  <ins class="icon reason-flexibility"></ins>  </li>  <li>  <h3>Sécurité</h3>  <p>Moins de véhicules, moins de fatigue, moins de stress : moins d’accidents.</p>  <ins class="icon reason-security"></ins>  </li></ol></div>
                                    </div>
                                    <!--<iframe src="http://www.facebook.com/plugins/likebox.php?id=34044030171&amp;width=292&amp;border_color=white&amp;connections=5&amp;stream=0&amp;header=0" scrolling="no" frameborder="0" class="bd bd-ccc no-check" style="overflow:hidden; width:292px; height:158px;" allowtransparency="true"></iframe>-->
                                </div>
                            </div>
                            <div class="right-wrapper">
                                <div class="ad-skyscraper">
                                    <img src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div id="main-nav-outer">
                                <div id="navigation">
                                    <ul id="main-nav" class="vanilla">
                                        <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                                        <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                                        <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                                        <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                                        <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
                                    </ul>
                                </div>
                            </div>   

                            <a href="#contenu" title="Revenir au contenu">
                                <ins class="icon blue-car js-car" id="car-1" style="top: 31px;"></ins>
                                <ins class="icon green-car js-car" id="car-2" style="top: 41px;"></ins>
                                <ins class="icon pink-car js-car" id="car-3" style="top: 27px;"></ins>
                            </a>          
                        </div>
{% endblock %}