{% extends "FrontMNRSBundle::layout.html.twig" %}
{% block title %}
    Reclamation : TacTacCovoiturage
{% endblock %}
{% block style %}
    <style type="text/css">
        DIV.form {text-align: right}
        textarea,input[type=text],input[type=email] {
            width: 18.25em !important;
        }
        button{

        }
        select{
            width: 18.75em !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="shadow main container round" id="contenu">
        <div class="content-wrapper">
            <h1><ins class="icon abuse"></ins> Signaler un abus</h1>

            <div class="bg-eee round padd-dbl bd-ccc bd">
                <p>
                    Un trajet obsolète, des propos indécents… Alertez-nous !
                </p>
                <div class ="form">


                    {{ form_start(form) }}                       
                    <div>
                        {{ form_label(form.email, 'Email') }} *
                        {{ form_widget(form.email) }}
                    </div><br>
                    <div>
                        {{ form_label(form.nomUtilisateur, 'Nom utilisateur') }} *
                        {{ form_widget(form.nomUtilisateur) }}
                    </div><br>
                    <div>
                        {{ form_label(form.type, 'Type de réclamation') }} *
                        {{ form_widget(form.type) }}
                    </div><br>
                    <div>
                        {{ form_label(form.message, 'Contenu de la réclamation') }} *
                        {{ form_widget(form.message) }}
                    </div>
                    <div class="clear"></div><br>
                    {{ form_end(form) }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="ad-skyscraper">
                <img alt="Tous les festivals avec TacTacCovoiturage" src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
            </div>
        </div>
        <div class="clear"></div>
        <div id="main-nav-outer">
            <div id="navigation">
                <ul id="main-nav" class="vanilla">
                    <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                    <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                    <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                    <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
                </ul>
            </div>
        </div>
        <a href="#contenu" title="Revenir au contenu">
            <ins class="icon blue-car js-car" id="car-1" style="top: 31px;"></ins>
            <ins class="icon green-car js-car" id="car-2" style="top: 41px;"></ins>
            <ins class="icon pink-car js-car" id="car-3" style="top: 27px;"></ins>
        </a>          
    </div>
{% endblock %}