{% extends "FrontMNRSBundle::layout.html.twig" %}
{% block title %}
Ma note: TacTacCovoiturage
{% endblock %}
{% block style %}
<script type="text/javascript" charset="utf8" language="javascript" src="{{ asset('bundles/frontmnrs/js/amcharts.js')}}"></script>
<script type="text/javascript" charset="utf8" language="javascript" src="{{ asset('bundles/frontmnrs/js/gauge.js')}}"></script>
<script type="text/javascript">
    {% for entity1 in entities1%}
    note = "{{ entity1.note|escape('js') }}";
    {% endfor%}
    {% for entity in entities%}
    maxNote = "{{ entity.maxNote|escape('js') }}";
    e = parseInt(maxNote);
    {% endfor%}
    var chart = AmCharts.makeChart("chartdiv", {
        type: "gauge",
        titles: [{
                "text": "Note et évaluation",
                "size": 15
            }],
        axes: [{
                startValue: 0,
                axisThickness: 1,
                endValue: e,
                valueInterval: 50,
                bottomTextYOffset: -20,
                bottomText: "0 km/h",
                bands: [{
                        startValue: 0,
                        endValue: 90,
                        color: "#00CC00"
                    },
                    {
                        startValue: 90,
                        endValue: 130,
                        color: "#ffac29"
                    },
                    {
                        startValue: 130,
                        endValue: e,
                        color: "#ea3838",
                        innerRadius: "95%"
                    }
                ]
            }],
        arrows: [{}]
    });
    setInterval(randomValue, 2000);
    function randomValue() {
        var value = parseInt(note);

        chart.arrows[0].setValue(value);
        chart.axes[0].setBottomText("votre note est " + value + " \n la maximale note est " + e);
    }
    </script>
    <style scoped>
            #chartdiv {
                width	: 100%;
                height	: 500px;
            }	
        </style>
{% endblock %}
{% block content %}
        <div class="shadow main container round" id="contenu">
            <div class="content-wrapper">
                <div class="thirty laurel">
                    <div class="shadow gd-8 no-padd shut-nav">
                        <ul class="vanilla bd bd-eee">
                            <li class="js-springy cl-eee">
                                <h3 class="title regular-font uc bd-eee">
                                    <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes messages" href="#">Mes messages</a>      </h3>
                                <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                                    <ul class="vanilla">
                                        <li class="item active first">
                                            <a class="cl-333" title="Boîte de réception" href="{{ path('messages_show_inbox') }}">Boîte de réception ({{messages|length}})</a>    </li>
                                        <li class="item">
                                            <a class="cl-333" title="Messages envoyés" href="{{ path('messages_show_outbox') }}">Messages envoyés</a>    </li>
                                        <li class="item">
                                            <a class="cl-333" title="Envoyer un message" href="{{ path('messages_create') }}">Envoyer un message</a>    </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="js-springy cl-eee">
                                <h3 class="title regular-font uc bd-eee">
                                    <a class="block in cl-333 bd-8 js-springy-trigger" title="Mes notifications" href="" >Mes notifications</a>
                                </h3>
                                <div class="sub-nav js-springy-performer in-shadow" style="display: none;">
                                    <ul class="vanilla">
                                        <li class="item active first">
                                            <a class="cl-333" title="Non lues" href="{{ path('notifications_nonlues') }}">Non lues ({{notifications|length}})</a>    
                                        </li>
                                        <li class="item active first">
                                            <a class="cl-333" title="Toutes" href="{{ path('notifications_all') }}">Toutes</a>    
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="js-springy cl-eee opened">
                                <h3 class="title regular-font uc bd-eee">
                                    <a class="block in cl-333 bd-8 js-springy-trigger cl-eee" title="Mes statistiques" href="#">Mes statistiques</a>      </h3>
                                <div class="sub-nav js-springy-performer in-shadow">
                                    <ul class="vanilla">
                                        <li class="item active first">
                                            <a class="cl-333" title="Dépenses par mois" href="{{ path('statistiques_cout') }}">Dépenses par mois</a>    </li>
                                        <li class="item">
                                            <a class="cl-333 b" title="Ma note" href="{{ path('statistiques_eval') }}">Ma note</a>    </li>
                                        <li class="item">
                                            <a class="cl-333" title="Fréquences des villes visitées" href="{{ path('statistiques_show') }}">Fréquences des villes visitées</a>    </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="seventy hardy">
                    <div class="shut-in">
                        <div id="chartdiv"></div>
                    </div>
                </div>
            </div>
            <div class="right-wrapper">
                <div class="ad-skyscraper">
                    <img alt="Tous les festivals avec Karzoo" src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
                </div>
            </div>
            <div class="clear"></div>
            <div id="main-nav-outer">
                <div id="navigation">
                    <ul id="main-nav" class="vanilla">
                        <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                        <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                        <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                        <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
                    </ul>
                </div>
            </div>          
            <a href="#contenu" title="Revenir au contenu">
                <ins class="icon blue-car js-car" id="car-1" style="top: 21px;"></ins>
                <ins class="icon green-car js-car" id="car-2" style="top: 25px;"></ins>
                <ins class="icon pink-car js-car" id="car-3" style="top: 23px;"></ins>
            </a>
        </div>

{% endblock %}