{% extends "FrontMNRSBundle::layout.html.twig" %}
{% block title %}
    FAQ : TacTacCovoiturage
{% endblock %}
{% block content %}
    <div class="shadow main container round" id="contenu">
        <div class="content-wrapper">

            <div class="bg-eee round padd-dbl bd-ccc bd">
                <h1>Questions fréquentes</h1>
                <h2>Qui est derrière TacTacCovoiturage ?</h2>
                <p>TacTacCovoiturage est un projet réalisé par une équipe d'éléves ingénieurs à ESPRIT.</p>
                <p>Nous souhaitions mettre à contribution notre expérience et nos compétences en fédérant les citoyens autour d’une action concrète : désengorger nos routes tout en faisant un geste écologique. Nous avons donc élaboré la stratégie de développement de TacTacCovoiturage et mis en place les outils permettant de garantir son succès.</p>
                <h2>Comment s’inscrire ?</h2>
                <p>L’inscription à TacTacCovoiturage est liée à la création d’un trajet sur le site. Il suffit ensuite de remplir le formulaire (disponible également en cliquant sur « Mon compte » en haut à droite).</p>
                <p>Les données communiquées lors de cette inscription sont conservées par TacTacCovoiturage. Elles ne seront en aucun cas utilisées ou redistribuées à d’autres entreprises pour une quelconque exploitation commerciale. Elles restent strictement confidentielles. Aucun courrier non sollicité ne sera envoyé.</p>
                <h2>Peut-on se désinscrire à tout moment ? Si oui, de quelle manière ?</h2>
                <p>Oui, c’est très simple. Pour cela il suffit de cliquer sur le bouton « supprimer mon compte » puis suivre les indications données.</p>
                <p><strong>Veuillez noter que cette action est irréversible - vos données utilisateur et tous vos trajets seront irrévocablement supprimés.</strong></p>
                <h2>L’utilisation de ce service est-elle payante ?</h2>
                <p>L’utilisation du site et des services est entièrement gratuite. Les membres ont la possibilité d’annoncer des départs, de façon illimitée, en tant que chauffeur ou passager, sans frais. Pour entrer en relation avec un autre membre vous devez simplement vous créer un compte TacTacCovoiturage.</p>
                <h2>Peut-on choisir ses covoitureurs ? Si oui, comment ?</h2>
                <p>Un système de notation permet d’évaluer et commenter le comportement d’un membre TacTacCovoiturage. Ainsi, en donnant votre avis vous contribuerez à valoriser une personne ayant une bonne conduite. A l’inverse en rapportant le comportement d’une personne qui ne respecte pas ses engagements vous éviterez une mauvaise expérience aux autres utilisateurs. Une fois membre vous aurez accès aux évaluations des passagers et des conducteurs, entre autres la sécurité de son véhicule, le comportement du membre durant le voyage, sa ponctualité... etc.</p>
                <h2>Comment préserver sa flexibilité ?</h2>
                <p>Le covoiturage prend tout son intérêt lorsque qu’il permet une certaine flexibilité et spontanéité dans les départs.<br>Vous ne partez pas à heure fixe ? Publiez une plage horaire et non une heure fixe. Vous souhaitez faire un voyage lorsque l'occasion se présente et vous n'avez pas de date prédéterminée ? Entrez alors un trajet permanent. Celui-ci sera toujours actif jusqu'à ce que vous décidiez de le suspendre !</p>
                <h2>Combien faut-il payer pour le covoiturage, et peut-on le faire via le site TacTacCovoiturage ?</h2>
                <p>Le montant de la participation est fixé en accord avec le conducteur et les passagers, sur la base des recommandations tarifaires proposées sur notre site. Aucun paiement ne sera effectué via TacTacCovoiturage. Ils se feront entre les covoitureurs concernés, de préférence avant le voyage pour éviter tout malentendu.</p>
                <h2>J’ai oublié mon mot de passe ! Que dois-je faire ?</h2>
                <p>Un formulaire est à votre disposition en cas d’oubli de votre mot de passe. Merci de nous préciser l’adresse e-mail que vous avez saisie lorsque vous avez créé votre compte ou votre nom d’utilisateur.<br>Vous recevrez de façon instantanée dans votre boîte email les informations vous concernant.</p>
                <h2>Comment saisir un trajet ?</h2>
                <p>Vous pouvez saisir un trajet directement sur la page d’accueil en entrant vos informations dans la box « Recherche ».<br>Il est également possible de le faire en cliquant sur « Mes trajets » ou via votre espace membre.</p>
                <p>Attention, la publication d’un trajet nécessite une inscription au site TacTacCovoiturage. Si celle-ci n’a pas été faite préalablement, elle vous sera proposée lors du processus de soumission de trajet.</p>
                <p>Pour augmenter vos chances de trouver une personne pour covoiturer, vous pouvez ajouter des villes étapes.</p>
                <p>Les membres qui ont validé l’alerte email lors de leur inscription seront informés que votre trajet semble correspondre aux leurs.</p>
                <h2>Comment supprimer un trajet ?</h2>
                <p>Connectez-vous à votre Espace membre.<br>Cliquez sur « Mes trajets », la liste de vos trajets actuellement sur le site apparaît.<br>Cliquez sur « supprimer » pour supprimer le trajet.<br>Il est également possible de suspendre un trajet (si vous partez en vacances par exemple) et de le réactiver par le suite.</p>
                <h2>Pourquoi est-ce que mon nom complet est publié ?</h2>
                <p>Pour rassurer les autres membres sur votre véritable identité.</p>
                <h2>Les gens pourront-ils savoir où j’habite ?</h2>
                <p>Non. Une visualisation globale de votre lieu d’habitation pourrait être possible sur la carte mais elle ne permettrait à quelqu’un de vous localiser avec précision.</p>
                <p>Toutefois, notez que si vous fournissez votre adresse exacte comme point de départ/destination d’un trajet, les utilisateurs pourront la voir. Aussi, par mesure de précaution, lorsque vous saisissez un trajet, nous vous conseillons d’indiquer seulement la rue, sans le numéro.</p>
                <h2>Est-ce que l’ensemble de mes informations personnelles va être publié ?</h2>
                <p>Les utilisateurs auront accès uniquement aux informations que vous avez décidé de publier via vos paramètres de confidentialité. Les utilisateurs déjà enregistrés sur la plateforme TacTacCovoiturage pourront vous contacter en vous envoyant un message, mais en aucun cas votre adresse email ne leur sera révélée si vous ne le souhaitez pas.</p>  
                <div class="clear"></div>
            </div>            
            <div class="clear"></div>
        </div>
        <div class="right-wrapper">
            <div class="ad-skyscraper">
                <img src="{{ asset("bundles/frontmnrs/images/allthefestivalswithkarzoo-160x600.jpg") }}">
            </div>
        </div>
        <div class="clear"></div>
        <div id="main-nav-outer">
            <div id="navigation">
                <ul id="main-nav" class="vanilla">
                    <li class="nav-item"><a class="nav-link" rel="home" title="Accueil" href="{{ path("covoiturage_accueil") }}">Accueil</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Mon Profile" href="{{ path('fos_user_profile_show') }}">Mon Profile</a></li>{% endif %} 
                    <li class="nav-item"><a class="nav-link" rel="contents" title="Les trajets" href="#">Les trajets</a></li>
                    <li class="nav-item"><a class="nav-link" title="La charte" href="{{ path("covoiturage_laCharte") }}">La charte</a></li>
                    <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ path("covoiturage_faq") }}">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" title="Réclamations" href="{{ path("covoiturage_reclamation") }}">Réclamation</a></li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>{% else %}<li class="nav-item"><a class="nav-link" title="Déconnecter" href="{{ path('fos_user_security_login') }}">S'authentifier</a></li>{% endif %}
                </ul>
            </div>
        </div>
        <a href="#contenu" title="Revenir au contenu">
            <ins class="icon blue-car js-car" id="car-1" style="top: 31px;"></ins>
            <ins class="icon green-car js-car" id="car-2" style="top: 41px;"></ins>
            <ins class="icon pink-car js-car" id="car-3" style="top: 27px;"></ins>
        </a>          
    </div>
{% endblock %}